@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
<div class="container">
<br>
<br>
<div class="column">
  <div class=row>  
    <div class="card border-info mb-3" style="max-width: 40rem;">
      <div class="card-header">
        <h1>Pull the plug on this machine?</h1>
      </div>
      <div class="card-body">
        <h3> @Html.DisplayNameFor(model => model.MachineName):</h3><h4> @Html.DisplayFor(model => model.MachineName)</h4>
        @using (Html.BeginForm())
        {
          <input type="submit" value="Delete" class="btn btn-info"/>
        }
      </div>
    </div>
    <br>
    <br>
    <div class="col-md-3">
    <br>
      <button type="button" class="btn btn-info" style="max-height: 5rem; max-width: 15rem;">@Html.ActionLink("Back to machine list", "Index")</button>
      <br>
      <br>
      <hr>
      <button type="button" class="btn btn-info" style="max-height: 5rem; max-width: 15rem;">@Html.ActionLink("Home", "Index", "Home")</button>
    </div>
  </div>
</div>