@{
  Layout = "_Layout";
}
<div class="container">
  <center>
    <h1>Welcome, Dr. Sillystringz!</h1>
  </center>
  <br>
  <br>
  <h3>
    <center>Let us help you hire babysitters for your many machines!</center>
  </h3>
  <br>
  <br>
  <div class="column">
    <div class="row">
      <div class="card-border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">
          <h2>
            <center> @Html.ActionLink("Babysitters", "Index", "Engineers")</center>
          </h2>
        </div>
        <br>
        <br>
        <div class="card border-info mb-3" style="max-height: 20rem; max-width: 30rem;">
          <div class="card-header">
            <h2>
              <center> @Html.ActionLink("Machines", "Index", "Machines")</center>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>